anyio==3.5.0
asgiref==3.5.0
click==8.0.4
colorama==0.4.4
fastapi==0.75.0
h11==0.13.0
httptools==0.4.0
idna==3.3
motor==2.5.1
passlib==1.7.4
pydantic==1.9.0
PyJWT==2.3.0
pymongo==3.12.3
python-dotenv==0.20.0
python-multipart==0.0.5
PyYAML==6.0
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.6
watchgod==0.8.1
websockets==10.2
